div{
    margin-bottom: 1em;
}

.uniform{
    border: 2px solid black;
    margin: 40px;
}

.non-uniform{
    border: 2px solid black;
    margin: 10px 30px 20px 40px;
}

.negative-margin{
    border: 2px solid black;
    margin: -20px;
}