@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ccc;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    margin-right: 2em;
}

.left-side {
    display: flex;
}

.card {
    display: flex;
    flex-direction: row;
    background: #ffff;
    max-width: 1800px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.dog-img {
    padding: 1em 2em;
    margin-left: 1em;
}

.about-us {
    font-size: 16px;
    color: #95C379;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1em;
}

.main-header {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
}

.site-header {
    background: #F3F3F3;
    padding: 1.5em;
}

p {
    align-self: flex-start;
    padding: 2em;
    font-size: 12px;
    opacity: 0.6;
    font-weight: bold;
    line-height: 1.6;
    padding-bottom: 0%;
}

.buttons {
    background: #F3F3F3;
    margin-top: 1.5em;
    padding-left: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 10px;
    margin-top: 1.5em;
    padding-bottom: 0.5em;
}

.main-button {
    background: #7AB730;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 140px;
    padding-right: 140px;
}

.secondary-button {
    background: #F0F0F0;
    color: #8DB730;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 140px;
    padding-right: 140px;
}

.text p {
    font-weight: normal;
    color: #000;
    opacity: 0.7;
    padding-left: 0%;
    padding-bottom: 1.5em;
    padding-top: 1em;
}



